<html>
  <head>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
    <script src="/socket.io/socket.io.js"></script>
    <script src="./vue.js"></script>

    <script>
        window.exports = {};
        window.module = {exports};
    </script>
    <script src="/data.js"></script>
    <script>window.constData = window.module.exports</script>

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js" integrity="sha256-jYMHiFJgIHHSIyPp1uwI5iv5dYgQZIxaQ4RwnpEeEDQ=" crossorigin="anonymous"></script>-->
    <style>

/* basically poe trade */
body{
  background-color: #101935;
  color: #F2FDFF;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #9AD4D6;
}

* {
  text-align: center;
}

button.active{
  background-color: #DEBAC0 !important;
  color: black !important;
}

.selectedaa {
  color: red;
}

    </style>
  </head>
  <body id="app" class="container">
    <div id="tabs" class="row">
      <button ng-repeat="buttonName in tabbuttons" ng-model="buttonName"
          class="btn btn-info" ng-click="updateTab(buttonName)"
          ng-class="{active: currentTab==buttonName}">
        {{buttonName}}
      </button>
    </div>
    <div id="itemsTab" ng-if="currentTab == 'Items'">
      <div id="ratelimit" class="row">
        <div class="col-xs-2">
          <span ng-repeat="name in timesNames">{{name}}: {{perf.times[$index]}}s<br></span>
          <span>stashes: {{perf.curStashes}}<br>total: {{totalStashes}}<br></span>
          <span>Rate limit: {{perf.rateLimit}}ms</span>
        </div>
        <!--<div class="col-xs-5">-->
        <!--<canvas id="perfchart"></canvas>-->
        <!--</div>-->
        <div class="col-xs-5">nextID: {{nextID}}</div>
      </div>
      <div ng-repeat="whoop in alerts | orderBy: '-'" class="alert" class="row">
        <div>{{whoop.desc}}</div>
        <div>{{dateDistance(whoop.time)}}</div>
        <div>{{whoop.whisper}}</div>
      </div>
    </div>

    <div id="currencyTab" ng-if="currentTab == 'Currency'">
      <div class="row">
        <button class="btn btn-info" type="button"
          ng-repeat="currency in baseCurrencies"
          ng-click="setBase(currency)"
          ng-class="{active: currency==currentBase}">

          {{cnfa(currency)}}
        </button>
        <hr>
        <button class="btn btn-info" type="button"
          ng-repeat="currency in candy"
          ng-click="setCandy(currency)"
          ng-class="{active: currency==currentCandy}">

          {{cnfa(currency)}}
        </button>
        <hr>
        <button class="btn btn-primary" type="button" ng-click="updateCurr()">update currency rates</button>
        <!--<input type="checkbox" ng-model="currencies.show0Stock">show 0 stock</input>-->
      </div>

      <div class="col-xs-6" id="curbuy" ng-if="currency">
        {{cnfa(currency.a)}} Sellers
        <div class="row" ng-repeat="order in currency.atob">
          <hr>
          <div class="col-xs-6">
            {{order.dispratio}}:1
          </div>
          <div class="col-xs-6">
            {{order.buyvalue}}{{cnfas(order.buycurrency)}} &rArr;
            {{order.sellvalue}}{{cnfas(order.sellcurrency)}}
          </div>
          <br>
          <div class="col-xs-6">
            {{order.ign}}
          </div>
          <div class="col-xs-6" ng-if="order.stock">
            {{order.stock}}{{cnfas(order.sellcurrency)}} stock
          </div>
        </div>
      </div>

      <div class="col-xs-6" id="cursell" ng-if="currency">
        {{cnfa(currency.b)}} Sellers
        <div class="row" ng-repeat="order in currency.btoa">
          <hr>
          <div class="col-xs-6">
            {{order.dispratio}}:1
          </div>
          <div class="col-xs-6">
            {{order.buyvalue}}{{cnfas(order.buycurrency)}} &rArr;
            {{order.sellvalue}}{{cnfas(order.sellcurrency)}}
          </div>
          <br>
          <div class="col-xs-6">
            {{order.ign}}
          </div>
          <div class="col-xs-6" ng-if="order.stock">
            {{order.stock}}{{cnfas(order.sellcurrency)}} stock
          </div>
        </div>
      </div>
    </div>
    <script src="/client.js"></script>
  </body>
</html>
